<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

	<!-- Collapsing the navigation bar for small screens -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navigation bar items -->
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/">Search</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/reviews">Reviews</a>
		  </li>
		</ul>
	</div>
</nav>