<!-- Header file -->
<%- include('../partials/header') %>
<!-- Navigation bar -->
<%- include('../partials/menu') %>

<div class="bg-dark">
	<br>
	<div class="container justify-content-center" >
        <div class="row">
          <div class="col-sm">
            <label class="sr-only" for="search_filter">Search Tag</label>
            <input type="text" class="form-control" id="search_text" name="search_filter" placeholder="Enter Movie Title">
          </div>
              
          <div class="col-sm">
            <button id="submit_search" type="button" class="btn btn-secondary" onclick="searchMovies()">Search</button>
          </div>
        </div>
        <br>
        <div class="row" id="error_message">
          
        </div>
      
  </div>
</div>

<div class="container">
	<!-- This area will be populated after calling the search function -->
	<div class="row text-center text-lg-left" id="search_results">
		
	</div>

	<div id="review_modal" class="modal fade bd-example-modal-lg">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add Review</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<form action="/" method="post">
					    <div class="form-group row">
    						<label for="movie" class="col-sm-4 col-form-label">Movie Name</label>
    						<div class="col-sm-8">
      							<input type="text" readonly class="form-control" name="movie" id="movie">
    						</div>
  						</div>
  						<div class="form-group row">
    						<label for="review" class="col-sm-4 col-form-label">Enter Your Review Here:</label>
    						<div class="col-sm-8">
      							<textarea class="form-control" name="review" id="review" rows="5"></textarea>
    						</div>
  						</div>
  						<button type="submit" class="btn btn-primary btn-sm float-right">Submit</button>
					</form>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Footer -->
<%- include('../partials/footer') %>